@{
    ViewBag.Title = "About";
}
<br /><br /><br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here you can find information about healthy foods and their nutrition data. You can add new items or edit existing ones.</p>
<img class="img-responsive" src="http://doctiming.bg/sites/default/files/styles/image_756x396/public/field/image/Superhrani-koshnitsata.jpg?itok=tQdGbnUK&ts=1455007930"  style="box-shadow: 5px 5px 20px grey"/>
<br />
