@{
    ViewBag.Title = "Home Page";
}


<article id="demo-default" class="demo">
    <h1 class="introsign">Healthy Foods</h1>
    <div id="coverflow">
        <ul class="flip-items">
            <li data-flip-title="Red">
                <a href="~/Vegetable"><img src="https://blog.liebherr.com/domakinski-uredi/bg/wp-content/uploads/sites/4/2015/05/alabash1.jpg"></a>
</li>
            <li data-flip-title="Razzmatazz" data-flip-category="Purples">
                <a href="~/Nut"><img src="http://gotvach.bg/files/lib/600x350/nuts-mix5.jpg"></a>
</li>
            <li data-flip-title="Deep Lilac" data-flip-category="Purples">
                <a href="~/Fruit"><img src="http://gotvach.bg/files/lib/600x350/fruits.jpg"></a>
</li>
            <li data-flip-title="Daisy Bush" data-flip-category="Purples">
                <a href="~/Bean"><img src="http://purvite7.bg/files/pulses.jpg"></a>

            </li>
            <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                <a href="~/MeatFishEgg"><img src="https://static.framar.bg/thumbs/6/recepies/pileshko-file-v-kashkavalena-panirovka.jpg"></a>
</li>
            <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                <a href="~/MeatFishEgg"><img src="http://gradcontent.com/lib/600x350/boiled-eggs-photo1.jpg"></a>
</li>
            <li data-flip-title="Cyan" data-flip-category="Blues">
                <a href="~/MeatFishEgg"><img src="http://www.1001recepti.com/images/photos/recipes/size_5/pecheno-file-ot-sioomga-sus-zadushen-spanak-i-mlechen-sos-1-[2853].jpg"></a>
</li>
           
        </ul>
    </div>
    <script>
    var coverflow = $("#coverflow").flipster();
    </script>

</article>







